button {
    background: $gradient-main;
    border-radius: 5px;
    padding: 12px 30px;
    border: none;
    color: white;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    &.mini {
        font-weight: 500;
        font-size: 12px;
        line-height: 160%;
        padding: 4px 10px 5px;

        svg {
            width: 20px;
            height: 20px;
        }
    }

    &.iconed {
        padding: 0;
        width: 49px;
        height: 49px;

        svg {
            width: 20px;
            height: 20px;

            path {
                stroke: white;
            }
        }
    }

    &.outline {
        border: 2px solid #FC4242;
        padding: 10px 30px;
        background: white;
        color: #FC4242;

        svg {
            path {
                fill: #FC4242 !important;
            }
        }
    }
}

input {
    width: 100%;
    background: #EBE4FF;
    border-radius: 7px;
    padding: 20px;
    border: none;
}
