.ui {
    &-form {


    }

    &-field {
        margin-bottom: 18px;
    }

    &-category-select {
        width: 100%;
        position: relative;

        &.active {
            .ui-category-select {

                &__value {
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #7486FF;
                }

                &__list {
                    @extend %transition-display-in;
                    z-index: 4;
                }
            }
        }

        &__value {
            display: flex;
            align-items: center;
            padding: 3px 5px;
            gap: 5px;
            justify-content: center;
            font-weight: bold;
            font-size: 14px;
            line-height: 130%;
            letter-spacing: 0.01em;
            color: #FFFFFF;
            border-radius: 7px 7px 0 0;
            cursor: pointer;
            @extend %transition;
        }

        &__list {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #7486FF;
            position: absolute;
            top: 24px;
            width: 100%;
            padding-bottom: 11px;
            height: 250px;
            z-index: 1;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 0 0 7px 7px;
            box-sizing: border-box;
            @extend %transition;
            @extend %transition-display-out;

            &__body {
                display: flex;
                flex-direction: column;
                max-height: 100%;
                overflow: auto;
                padding-top: 11px;
                box-sizing: border-box;

                &::-webkit-scrollbar {
                    width: 2px;
                }

                &::-webkit-scrollbar-track {
                    background: #FFFFFF;
                    opacity: 0.2;
                    border-radius: 7px;
                }

                &::-webkit-scrollbar-thumb {
                    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #7486FF;
                    border-radius: 7px;
                }
            }



            &__item {
                display: flex;
                align-items: center;
                gap: 7px;
                padding: 5px 11px;
                font-size: 14px;
                line-height: 130%;
                letter-spacing: 0.01em;
                color: #FFFFFF;
                cursor: pointer;
                @extend %transition;

                &:hover {
                    background: rgba(255,255,255,0.1);
                }
            }
        }
    }
}
